<div class="banner">

  <div class="content">
    <h1 class ="mb-5">Find Your<br>New BestFriend</h1>
<a routerLink="products">ADOPT NOW <i class="bi bi-arrow-right"></i></a>
</div >
  </div>
<div class="container mt-5 mb-5">
  <h1 class="text-center ">How to <span class="split">Adopt</span></h1>

  <div class="row mt-5">

    <div class="col-lg-4 mt-2">
      <div class="stepBox">
      <h1>1</h1>
      <p>Choose a pet to adopt</p>
    </div>
      </div>

      <div class="col-lg-4 mt-2">
        <div class="stepBox">
        <h1>2</h1>
        <p>Fill in an adoption form</p>
      </div>
      </div>

      <div class="col-lg-4 mt-2">
        <div class="stepBox">
        <h1>3</h1>
        <p>One of our agents will contact you</p>
      </div>
      </div>
  </div>
</div>

<div class="container mt-4 mb-4">
  <h1 class="text-center">Our Recent<span class="split"> Adoptees</span></h1>
  <div class="row">
    <div class="col-lg-3 mt-3" *ngFor="let fd of petsData;index as i">
      <div class="petbox" *ngIf="i<=3">
        <img src="{{fd.petImg}}" alt="pets" loading="lazy"/>
        <h1>{{fd.petName}}</h1>
        <p>{{fd.petDetail}}</p>
      </div>
    </div>
  </div>
  <a routerLink="products" class="viewbtn">View More <i class="bi bi-arrow-right"></i></a>
</div>

